header {
    padding-top: 1rem;
}

a {
    color: #C17817;
    text-decoration: none;
}

.container {
    background-color: #F0E2E7;
}

h1 {

    color: #3F84E5;
}

ul {
    list-style-type: none;
}


#link-list li {
    padding-left: 1rem;
    display: inline;
}

#link-list a {
    padding: 0.5rem;
    border: solid 1px black;
    border-radius: 5px;
}

.shop-card {
    padding: 2em;
    width: 400px;
    display: inline-block;
}

.cart-item {
    padding: 1em 0.5em;
}